body{
    background: rgb(237,77,77);
    background: linear-gradient(90deg, rgba(237,77,77,1) 0%, rgba(236,158,41,1) 100%);
}

#container{
    height: 79vh;
    width: 38vw;
    margin: auto;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 50px 5px rgb(53, 7, 160);
    background-color: pink;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#container>i{
    position: relative;
    top: 5%;
    font-size: 4rem;
}

/* current time display */
#current-time{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 22%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center
}

#current-time span{
    font-size: 2rem;
}

/* set time */
#set-time{
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#set-time input{
    outline: 0;
}

#input-time{
    width: 20%;
}

#input-text{
    font-family: sans-serif;
    width: 35%;
}

#set-time button{
    height: 30px;
    width: 80px;
    background-color: rgb(236, 44, 76);
    border: 0;
    border-radius: 30px;
    color: white;
}

#set-time button:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 8px 2px rgb(0, 0, 0);
    cursor: pointer;
}

/* alarm list */
#all-alarms{
    position: absolute;
    top: 50%;
    height: 45%;
    width: 100%;
    overflow-y: auto;
}

#all-alarms::-webkit-scrollbar{
    width: 8px;
}

#all-alarms::-webkit-scrollbar-track{
    background: rgb(251, 114, 10);
    border-radius: 100vw;
}

#all-alarms::-webkit-scrollbar-thumb{
    background: rgb(180, 4, 34);
    border-radius: 100vw;
}

#all-alarms::-webkit-scrollbar-thumb:hover{
    background: rgb(168, 73, 89);
}

#list{
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#list li{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
}

#list li:first-child{
    border-top: 1px dashed grey;
}

#list li p{
    display: inline-block;
    width: 30%;
    word-wrap: break-word;
    font-size: 1.4rem;
}

#list li i{
    color: rgb(236, 44, 76);
    cursor: pointer;
}

lord-icon{
    margin: auto;
    top: 5%;
}

@media screen and (max-width: 700px) {

    #container{
        width: 70vw;
    }
    
    #set-time{
        align-items: center;
        flex-direction: column;
    }

    #set-time input{
        margin-bottom: 5px;
    }

    #list li p{
        font-size: 1rem;
    }

    #all-alarms{
        top: 55%;
        height: 40%;
    }
}
